@page "/"
@inject HttpClient Http

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Blazor Blog</h1>
                    <span class="subheading">A Blazor Powered Blogging App</span>
                </div>
            </div>
        </div>
    </div>
</header>

@if (posts == null)
{
    <p><em>Loading Blog Posts...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.Title.ToString()</td>
                    <td>@post.Author</td>
                    <td>@post.Created.ToLongDateString()</td>
                    <td>@post.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@functions {
    BlazorBlog.Core.Entities.BlogPost[] posts;

    protected override async Task OnInitAsync()
    {
        posts = await Http.GetJsonAsync<BlazorBlog.Core.Entities.BlogPost[]>(BlazorBlog.Core.Constants.ApiEndpoints.GetPosts);
    }
}
